$font-rubik: 'Rubik', Arial, sans-serif;
$font-gara: 'Cormorant Garamond', serif;
$font-roboto: 'Roboto', Arial, sans-serif;
$font-mont: 'Montserrat', Arial, sans-serif;
$text-color: #444444;
$max-width: 1110px;
$product-green: #4BB45E;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

.width-1110 {
  max-width: $max-width;
  margin: 0 auto;
}

.dots {
  margin: 0 auto;
  max-width: 130px;

  &__item {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: none;
    border: none;
    margin-right: 10px;

    &-green {
      border: 1px solid $product-green;

      &--active {
        background-color: $product-green;
      }
    }

    &-white {
      border: 1px solid #ffffff;

      &--active {
        background-color: #ffffff;
      }
    }
  }
}

.body {
  background-color: #ffffff;
}

.header {
  width: 100%;
  font-family: $font-rubik;

  &__menu {
    max-width: $max-width;
    margin: 0 auto;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  border-bottom: 1px solid rgba(68, 68, 68, 0.1);

  font-size: 1.4rem;
  font-weight: 400;

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__account {
    display: flex;
    align-items: center;

    border-left: 1px solid rgba(68, 68, 68, 0.1);
  }

  &__item {
    margin-right: 30px;
    padding: 16px 0;
  }

  &__link {
    color: $text-color;
  }
}

.link-login,
.link-register {
  display: flex;
  margin-left: 30px;
  padding: 16px 0;

  &__svg {
    width: 16px;
    height: 16px;
    margin-right: 5px;
  }
}

.info {
  max-width: $max-width;
  margin: 0 auto;
  padding: 15px 0;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

  &__contacts {
    display: flex;
    align-items: center;
  }

  &__favs-cart {
    width: 197px;
    display: flex;
    justify-content: space-between;

    font-size: 1.4rem;
  }

  &__link {
    color: $text-color;
  }
}

.burger {
  display: none;
}

.logo {
  &__img {
    max-width: 206px;
  }

  &__text {
    font-size: 1rem;
  }
}

.phones {
  margin-right: 50px;
  display: flex;
  flex-direction: column;

  font-size: 2rem;
  line-height: 28px;
  font-weight: 400;
}

.time-address {
  height: 46px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-size: 1.4rem;
}

.link-timetable,
.link-address {
  display: flex;

  &__svg {
    width: 16px;
    height: 16px;
    margin-right: 5px;
  }
}

.link-favs,
.link-cart {
  display: flex;
  justify-content: center;
  align-items: center;

  &__svg {
    width: 28px;
    height: 28px;
    margin-right: 10px;
  }
}

.categories {
  background: linear-gradient(90deg, #3CB950 0%, #13DD33 100%);

  &__list {
    display: flex;
    flex-wrap: wrap;

    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 1.8rem;
  }

  &__item {
    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }

    &:not(:last-of-type) {
      border-right: 1px solid rgba(255, 255, 255, 0.3);
    }
  }

  &__link {
    color: #ffffff;
    display: block;
    padding: 14px 25px;
  }
}