*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

.width-1110 {
  max-width: 1110px;
  margin: 0 auto;
}

.dots {
  margin: 0 auto;
  max-width: 130px;
}
.dots__item {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: none;
  border: none;
  margin-right: 10px;
}
.dots__item-green {
  border: 1px solid #4BB45E;
}
.dots__item-green--active {
  background-color: #4BB45E;
}
.dots__item-white {
  border: 1px solid #ffffff;
}
.dots__item-white--active {
  background-color: #ffffff;
}

.body {
  background-color: #ffffff;
}

.header {
  width: 100%;
  font-family: "Rubik", Arial, sans-serif;
}
.header__menu {
  max-width: 1110px;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid rgba(68, 68, 68, 0.1);
  font-size: 1.4rem;
  font-weight: 400;
}
.nav__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.nav__account {
  display: flex;
  align-items: center;
  border-left: 1px solid rgba(68, 68, 68, 0.1);
}
.nav__item {
  margin-right: 30px;
  padding: 16px 0;
}
.nav__link {
  color: #444444;
}

.link-login,
.link-register {
  display: flex;
  margin-left: 30px;
  padding: 16px 0;
}
.link-login__svg,
.link-register__svg {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.info {
  max-width: 1110px;
  margin: 0 auto;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.info__contacts {
  display: flex;
  align-items: center;
}
.info__favs-cart {
  width: 197px;
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
}
.info__link {
  color: #444444;
}

.burger {
  display: none;
}

.logo__img {
  max-width: 206px;
}
.logo__text {
  font-size: 1rem;
}

.phones {
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  line-height: 28px;
  font-weight: 400;
}

.time-address {
  height: 46px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.4rem;
}

.link-timetable,
.link-address {
  display: flex;
}
.link-timetable__svg,
.link-address__svg {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.link-favs,
.link-cart {
  display: flex;
  justify-content: center;
  align-items: center;
}
.link-favs__svg,
.link-cart__svg {
  width: 28px;
  height: 28px;
  margin-right: 10px;
}

.categories {
  background: linear-gradient(90deg, #3CB950 0%, #13DD33 100%);
}
.categories__list {
  display: flex;
  flex-wrap: wrap;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 1.8rem;
}
.categories__item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.categories__item:not(:last-of-type) {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}
.categories__link {
  color: #ffffff;
  display: block;
  padding: 14px 25px;
}

.slider {
  width: 100%;
  height: 500px;
  position: relative;
}
.slider__wrapper {
  margin: 0 auto;
  max-width: 1110px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  z-index: 5;
}
.slider__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 80%;
}
.slider__box {
  width: 463px;
  height: 257px;
  padding: 0 50px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.95);
}
.slider__text {
  margin-top: 30px;
  margin-bottom: 20px;
  max-width: 355px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 4.2rem;
  line-height: 5rem;
}
.slider__dots {
  align-self: flex-end;
  justify-self: center;
  margin: 0 0 20px;
}
.slider__dots-mobile {
  display: none;
}

.link-arrow {
  color: #407014;
  font-family: "Rubik", Arial, sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  text-decoration: underline;
}
.link-arrow:hover {
  text-decoration: none;
}
.link-arrow::after {
  content: "";
  display: inline-block;
  width: 7px;
  height: 13px;
  margin-left: 5px;
  background-image: url(../images/arrow-right.svg);
  background-repeat: no-repeat;
  background-position: bottom;
}

.h2 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 4.3rem;
  text-align: center;
  text-transform: uppercase;
}

.filters__heading {
  margin-top: 60px;
  margin-bottom: 20px;
}
.filters__wrapper {
  width: 100%;
  display: flex;
}
.filters__list {
  display: flex;
  flex-wrap: wrap;
}

.filter {
  border-right: 1px solid rgba(68, 68, 68, 0.1);
  background-color: #F5F9EC;
  flex-basis: 185px;
  position: relative;
}
.filter__button {
  height: 64px;
  padding: 21px 0 21px 25px;
  font-family: "Rubik", Arial, sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  border: none;
  background: none;
}
.filter__button::after {
  display: inline-block;
  content: "";
  background-image: url(../images/arrow-down.svg);
  background-repeat: no-repeat;
  width: 16px;
  height: 18px;
  position: absolute;
  top: 28px;
  right: 25px;
}
.filter__big {
  flex-grow: 2;
}

.goods {
  max-width: 1110px;
  margin: 0 auto;
  border-bottom: 1px solid rgba(68, 68, 68, 0.1);
}
.goods__heading {
  margin: 60px 0 20px;
}
.goods:last-of-type {
  border: none;
}
.goods__dots {
  display: none;
}

.products {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.product {
  margin-bottom: 30px;
  position: relative;
  font-family: "Rubik", Arial, sans-serif;
  text-align: center;
}
.product:hover .product__appear {
  display: block;
}
.product__link {
  display: block;
}
.product__img-wrapper {
  margin: 15px 0;
  width: 290px;
  height: 290px;
  position: relative;
}
.product__img {
  width: 100%;
  height: 100%;
}
.product__price {
  font-weight: 300;
  font-size: 3.4rem;
  color: #4BB45E;
}
.product__price-old {
  text-decoration: line-through;
  font-weight: 400;
  font-size: 2rem;
  color: #C0C0C0;
}
.product__heading {
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 1.6rem;
  color: #444444;
}
.product__appear {
  display: none;
  position: absolute;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
  background-color: #FFFFFF;
}
.product__list {
  padding: 15px;
  margin-bottom: 25px;
  background-color: #4BB45E;
  color: #ffffff;
  font-weight: 300;
  font-size: 1.8rem;
  text-align: left;
}
.product__wrapper {
  display: flex;
  justify-content: space-between;
  width: 252px;
  margin: 0 auto;
}
.product__quantity {
  height: 32px;
  border-radius: 5px;
  border: 1px solid #E6E6E6;
}
.product__plus-minus {
  height: 32px;
  width: 32px;
  background: none;
  color: #4BB45E;
  border: none;
  font-weight: 300;
  font-size: 1.6rem;
}
.product__input {
  width: 52px;
  height: 32px;
  background: none;
  color: #444444;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 300;
  font-size: 2rem;
  border: none;
}
.product__add-cart {
  width: 116px;
  height: 32px;
  border-radius: 5px;
  background: #4BB45E;
  border: none;
  color: #ffffff;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
}
.product__buy-link {
  display: block;
  margin-top: 20px;
  margin-bottom: 25px;
  color: #4BB45E;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
}
.product__label {
  border-radius: 22px;
  border: 2px solid #ffffff;
  position: absolute;
  bottom: 40px;
  margin: 0 74px;
  padding: 6px 20px 6px 43px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: 0.05em;
  color: #ffffff;
  background-repeat: no-repeat;
  background-position: 20px center;
}
.product__sale {
  background-color: #FF5555;
  background-image: url(../images/sale.svg);
}
.product__new {
  background-color: #4BB45E;
  background-image: url(../images/new.svg);
}
.product__water {
  background-color: #55B8FF;
  background-image: url(../images/water.svg);
}
.product__heart {
  position: absolute;
  top: 14px;
  right: 15px;
  width: 29px;
  height: 28px;
  border: none;
  background-image: url(../images/heart.svg);
  background-repeat: no-repeat;
}
.product:hover {
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.1);
}

.all-category-products {
  width: 195px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 1px solid #4BB45E;
  margin: 0 auto 60px;
  color: #4BB45E;
  font-family: "Rubik", Arial, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.all-category-products:hover {
  color: #ffffff;
  background: linear-gradient(90deg, #3CB950 0%, #13DD33 100%);
  transition: 0.5s;
}

.all-products {
  background: linear-gradient(90deg, #3CB950 0%, #13DD33 100%);
  color: #ffffff;
  width: 295px;
}
.all-products:hover {
  color: #4BB45E;
  background: none;
  transition: 1s;
}

.flower-centres {
  background-color: #FFF5F5;
  padding: 40px 0;
  margin-bottom: 60px;
}
.flower-centres__heading {
  margin-bottom: 20px;
}
.flower-centres__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.flower-centres__list {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 2rem;
}
.flower-centres__link {
  display: block;
  padding: 8px 12px;
  color: #444444;
}
.flower-centres__link:hover {
  background-color: #FF5555;
  border-radius: 5px;
  color: #ffffff;
}

.reviews {
  max-width: 1110px;
  margin: 0 auto;
  border-top: 1px solid rgba(68, 68, 68, 0.1);
  padding-top: 60px;
  padding-bottom: 40px;
}
.reviews__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.reviews__heading {
  margin-left: 15px;
  margin-bottom: 20px;
}

.review {
  background-color: #FFFEF2;
  width: 540px;
  padding: 20px;
  font-family: "Rubik", Arial, sans-serif;
  border-radius: 10px;
  position: relative;
  margin-bottom: 20px;
}
.review__heading {
  color: rgba(68, 68, 68, 0.42);
  font-size: 1.4rem;
}
.review__author {
  font-style: italic;
  font-size: 1.8rem;
  color: #444444;
}
.review__stars {
  margin-top: 10px;
  margin-bottom: 10px;
}
.review__star {
  width: 16px;
  height: 14px;
  margin-right: 5px;
}
.review__text {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 150%;
}
.review::after {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  top: -10px;
  right: 20px;
  position: absolute;
  background-image: url(../images/review.svg);
  background-repeat: no-repeat;
}

.partners {
  max-width: 1110px;
  padding-bottom: 60px;
  border-bottom: 1px solid rgba(68, 68, 68, 0.1);
  margin: 0 auto 60px;
}
.partners__heading {
  margin-bottom: 20px;
}
.partners__list {
  margin: 0 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.partners__item img {
  max-width: 70px;
  max-height: 50px;
}

.footer {
  padding: 40px 0;
  background: linear-gradient(92.08deg, #317014 20.3%, #426D0D 48.62%, #095F07 79.4%);
}
.footer .width-1110 {
  display: flex;
  justify-content: space-between;
}
.footer__img {
  width: 190px;
  height: 40px;
}
.footer__copyright {
  margin-top: 4px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1.4rem;
  color: #ffffff;
  opacity: 0.64;
}
.footer__phones {
  display: flex;
  align-items: center;
}
.footer__svg-wrapper {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #ffffff;
  background-color: rgba(255, 255, 255, 0.24);
}
.footer__svg {
  width: 15px;
  height: 15px;
}
.footer__phone-wrapper {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}
.footer__phone {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 1.6rem;
  color: #ffffff;
}
.footer__light-link {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1.4rem;
  text-decoration: underline;
  opacity: 0.64;
  color: #ffffff;
  margin-bottom: 10px;
  display: block;
}
.footer__item {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  margin-bottom: 10px;
}
.footer__item a {
  color: #ffffff;
}

.footer-mobile {
  display: none;
}

/*# sourceMappingURL=style.css.map */
